[submodule "src/magit"]
	path = src/magit
	url = http://github.com/philjackson/magit.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/org"]
	path = src/org
	url = http://orgmode.org/org-mode.git
[submodule "src/anything"]
	path = src/anything
	url = git://repo.or.cz/anything-config.git
[submodule "src/sbt"]
	path = src/sbt
	url = https://github.com/RayRacine/scallap.git
